<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'webapp/img/create_logo1.png' %}">

    {% block title %}<title>Beginner Course</title>{% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'webapp/stylesheet/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'webapp/stylesheet/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/stylesheet/beginner.css' %}" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="{% static 'webapp/stylesheet/navbar.css' %}"  />
  </head>

  <body>

<header>
      <nav  class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
       <a class="navbar-brand spacing" href="/"><img border="0" alt="W3Schools" src="{% static 'webapp/img/cut_logo1.png' %}" width="100" height="50"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-right" id="navbarCollapse">
        <ul class="navbar-nav mr-auto spacing">
          <li class="nav-item">
            <a class="nav-link hd-fnt-sz active" href="/">About</a>
          </li>
          <li class="nav-item spacing">
            <a class="nav-link hd-fnt-sz" href="/webapp/parents">Parents <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown spacing hd-fnt-sz">
            <a class="nav-link dropdown-toggle" href="/webapp/courses/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/webapp/courses/">Course Summaries</a>
              <a class="dropdown-item" href="/webapp/beginner/">Beginner</a>
              <a class="dropdown-item" href="/webapp/novice/">Novice</a>
              <a class="dropdown-item" href="/webapp/intermediate/">Intermediate</a>
              <a class="dropdown-item" href="/webapp/rasppi/">Raspberry Pi</a>
              <a class="dropdown-item" href="/webapp/webdesign/">Web App Development</a>

            </div>
          </li>
          <li class="nav-item spacing">
            <a class="nav-link hd-fnt-sz" href="/webapp/contact">Free Trial</a>
          </li>
          <li class="nav-item dropdown spacing hd-fnt-sz">
            <a class="nav-link dropdown-toggle" href="/resources/locations/" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locations</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/resources/waterloo/">Waterloo</a>
              <a class="dropdown-item" href="/resources/mississauga/">Mississauga</a>
              <a class="dropdown-item" href="/resources/london/">London</a>
            </div>
          </li>

          <li class="nav-item spacing">
            <a class="nav-link hd-fnt-sz" href="/resources/registration">Registration</a>
          </li>
          <li class="nav-item spacing">
            <a class="nav-link hd-fnt-sz" href="/webapp/contact">Contact</a>
          </li>
          <li class="nav-item spacing">
            <a class="nav-link hd-fnt-sz" href="/resources/faqs">FAQ's</a>
          </li>
          <li class="nav-item spacing">
            <a style="color:gold;" class="nav-link hd-fnt-sz"><i class="fas fa-phone"></i>   <b>1-800-555-5555</b></a>
          </li>
          <li class="nav-item spacing">
            <a style="color:gold;" class="nav-link hd-fnt-sz" href="/webapp/contact"><i class="fas fa-envelope"></i></i>   <b>Email Us</b></a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-2 mr-5" type="submit">Search</button>
        </form>
      </div>
    </nav>
    </header>


  <main role="main">
    <div class="container">
      <img width="100%" height="100%" src="{% static 'webapp/img/beginners_banner.jpg' %}"/>
        <div style="position: absolute; width:auto; top:275px; background-color:grey; background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5); padding: 20px;">
          <div>
            <h1 style="text-align:center; font-weight:bold; color:black;" class="display-3"><b>Beginners Course</b></h1>
            <p style="text-align:center;"><a class="btn btn-primary btn-lg" href="/resources/registration/" role="button">Sign up for a free evaluation class &raquo;</a></p>
          </div>
        </div>
      </div>
      <br><br>
  </main>

  <section>
    <!--overview of course -->
    <div class="container begin-p">
      <div class="row">
        <div class="col-9">
      <h3>Learn to create fun and interactive video games using Scratch!</h3>
      <br>
      <h4>
        Recommended Age: 8+
      </h4>
      <h4>
        <b>Core Concepts</b>: variable assignment, loops, cartesian coordinates, math (linear and algebra), conditional statements, logic.
      </h4>
      <br>
      <p>
        <b>Scratch</b> is a programming language that has influenced many other programming environments and is now considered a
        <b>standard for introductory coding</b> experiences for children.
      </p>
      <p>
        With <b>Scratch</b>, children can create their own interactive stories, games and animations. Scratch is developed by MIT
        Media Lab to <b>help children learn to think creatively, reason systematically and work collaboratively</b>.
      </p>
      <p>
        Scratch is a very popular and widely used to teach kids basic programming concepts. Scratch has more than 22
        million registered members on its online community and more than 26 million shared projects, with roughly 25,000
        new members and 30,000 new projects every day.
      </p>
      <p>
        The popularity of Scratch provides your child with the opportunity to continue to explore programming challenges
        outside of the class room.
      </p>
      <p>
        Guided by our instructors, students will not only create a real functioning game from "Scratch",
        they'll practice the fundamental coding concepts required in any language, learn how to think logically,
        and have <b>fun</b> while doing it.
      </p>
        </div>
        <div style="background: #F0FFF0; font-size:.75em;" class="col-3">
          <br>
          <h3>Our Guarantee</h3>
          <br>
          <i class="fas fa-graduation-cap"></i><b>  4 To 1 Ratio</b>
          <p>To ensure our students receive the best results, each class has a maximum of 4 students for each instructor.</p>
          <br><br>
          <i class="fas fa-child"></i> <b>  FREE Evaluation Class</b>
          <p>We judge our success based on your child's success. Our free evaluation helps us recommend the right course
          that builds your child's confidence.</p>
          <br><br>
          <i class="fas fa-handshake"></i> <b>  2 Class Guarantee</b>
          <p>We are confident your child will learn and have fun! That's why we offer a full refund if you wish to
          withdraw your child from the course after the second class.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section>
    <!-- example video -->
    <div class="container begin-p">
      <h4 style="font-size:1.5em;">Magic Show</h4>
      <p>
        Magic Show is the first game our students learn. This game teaches our students the fundementals.
        This game uses variable assignment, loops, linear math, and condition statements.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cv4cMfeqWok" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br><br>
    <div class="container begin-p">
      <h4 style="font-size:1.5em;">Super Felix</h4>
      <p>
        Super Felix is a game that build on the concepts used to create Magic Show. Students will learn more creative ways
        to using the basic concepts learned when creating the Magic Show.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mcg_DhLMreE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <br>
  </section>


  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2017-2018 Create In Code, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static 'webapp/javascript/jquery-slim.min.js' %}"><\/script>')</script>
  <script src="{% static 'webapp/javascript.popper.min.js' %}"></script>
  <script src="{% static 'webapp/javascript/bootstrap.min.js' %}"></script>
  <script src="{% static 'webapp/javascript/holder.min.js' %}"></script>
  <!--custom import fonts are awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>