{% extends 'webapp/homepage.html' %}
{% load static %}
{% block title %}<title>Beginner Coding - Create In Code</title>{% endblock %}
{% block body_block %}

  <main role="main">
    <div class="container">
      <img width="100%" height="100%" src="{% static 'webapp/img/beginners_banner.jpg' %}"/>
        <div style="position: absolute; width:auto; top:275px; background-color:grey; background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5); padding: 20px;">
          <div>
            <h1 style="text-align:center; font-weight:bold; color:black;" class="display-3"><b>Beginners Course</b></h1>
            <p style="text-align:center;"><a class="btn btn-primary btn-lg" href="/resources/registration/" role="button">Sign up for a free evaluation class &raquo;</a></p>
          </div>
        </div>
      </div>
      <br><br>
  </main>

  <section>
    <!--overview of course -->
    <div class="container begin-p">
      <div class="row">
        <div class="col-9">
      <h3>Learn to create fun and interactive video games using Scratch!</h3>
      <br>
      <h4>
        Recommended Age: 8+
      </h4>
      <h4>
        <b>Core Concepts</b>: variable assignment, loops, cartesian coordinates, math (linear and algebra), conditional statements, logic.
      </h4>
      <br>
      <p>
        <b>Scratch</b> is a programming language that has influenced many other programming environments and is now considered a
        <b>standard for introductory coding</b> experiences for children.
      </p>
      <p>
        With <b>Scratch</b>, children can create their own interactive stories, games and animations. Scratch is developed by MIT
        Media Lab to <b>help children learn to think creatively, reason systematically and work collaboratively</b>.
      </p>
      <p>
        Scratch is a very popular and widely used to teach kids basic programming concepts. Scratch has more than 22
        million registered members on its online community and more than 26 million shared projects, with roughly 25,000
        new members and 30,000 new projects every day.
      </p>
      <p>
        The popularity of Scratch provides your child with the opportunity to continue to explore programming challenges
        outside of the class room.
      </p>
      <p>
        Guided by our instructors, students will not only create a real functioning game from "Scratch",
        they'll practice the fundamental coding concepts required in any language, learn how to think logically,
        and have <b>fun</b> while doing it.
      </p>
        </div>
        <div style="background: #F0FFF0; font-size:.75em;" class="col-3">
          <br>
          <h3>Our Guarantee</h3>
          <br>
          <i class="fas fa-graduation-cap"></i><b>  4 To 1 Ratio</b>
          <p>To ensure our students receive the best results, each class has a maximum of 4 students for each instructor.</p>
          <br><br>
          <i class="fas fa-child"></i> <b>  FREE Evaluation Class</b>
          <p>We judge our success based on your child's success. Our free evaluation helps us recommend the right course
          that builds your child's confidence.</p>
          <br><br>
          <i class="fas fa-handshake"></i> <b>  2 Class Guarantee</b>
          <p>We are confident your child will learn and have fun! That's why we offer a full refund if you wish to
          withdraw your child from the course after the second class.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section>
    <!-- example video -->
    <div class="container begin-p">
      <h4 style="font-size:1.5em;">Magic Show</h4>
      <p>
        Magic Show is the first game our students learn. This game teaches our students the fundementals.
        This game uses variable assignment, loops, linear math, and condition statements.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7jjsZx_g4BE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br><br>
    <div class="container begin-p">
      <h4 style="font-size:1.5em;">Super Felix</h4>
      <p>
        Super Felix is a game that build on the concepts used to create Magic Show. Students will learn more creative ways
        to using the basic concepts learned when creating the Magic Show.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CB4f7ApRVks" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <br>
  </section>

{% endblock %}
