{% extends 'webapp/homepage.html' %}
{% block title %}<title>Intermediate Coding - Creating In Code</title>{% endblock %}
{% block body_block %}
{% load static %}

    <div >
      <img width="100%" height="600" src="{% static 'webapp/img/binary_vortex.png' %}"/>
        <div style="position: absolute; width:auto; top:275px; background-color:grey; background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5); padding: 20px;">
          <div>
            <h1 style="text-align:center; font-weight:bold; color:black;" class="display-3"><b>Intermediate Course</b></h1>
            <p style="text-align:center;"><a class="btn btn-primary btn-lg" href="/webapp/contact/" role="button">Sign up for a free evaluation class &raquo;</a></p>
          </div>
        </div>
      </div>
      <br><br>


  <section>
    <!--overview of course -->
    <div class="container begin-p">
      <div class="row">
        <div class="col-9">
      <h3>Take game development to the next level!</h3>
      <br>
      <h4>
        Recommended Age: 14+
      </h4>
      <br>
      <p>
        This course is for older students who have some experience with a dynamically typed programming language
        and good typing skills.
      </p>
      <p>
        The intermediate course builds on the concepts learned in the novice course.  The Intermediate course focus'
        on using computational thinking to solve programming challenges.  We will develop more complex games with a
        focus on game physics, basic Artificial Intelligence (Enemy AI), object oriented design, data structures,
        and linear algebra.
      </p>

        </div>
        <div style="background: #F0FFF0; font-size:.75em;" class="col-3">
          <br>
          <h3>Our Guarantee</h3>
          <br>
          <i class="fas fa-graduation-cap"></i><b>  4 To 1 Ratio</b>
          <p>To ensure our students receive the best results, each class has a maximum of 4 students for each instructor.</p>
          <br><br>
          <i class="fas fa-child"></i> <b>  FREE Evaluation Class</b>
          <p>We judge our success based on your child's success. Our free evaluation helps us recommend the right course
          that builds your child's confidence.</p>
          <br><br>
          <i class="fas fa-handshake"></i> <b>  2 Class Guarantee</b>
          <p>We are confident your child will learn and have fun! That's why we offer a full refund if you wish to
          withdraw your child from the course after the second class.</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section>
    <!-- example video -->
    <div class="container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ab9Y4H48Jw8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  </section>

{% endblock %}