{% extends 'resources/resources.html' %}
{% block title %}<title>FAQ - Summer Camps</title> {% endblock %}

{% block body_block %}


<div class="container">
    <h2 align="center">Frequently Asked Questions: Summer Camps</h2><br>
    <h5><b>Q: How much do summer camps cost?</b></h5>
    <h5>A: Summer camp prices vary by the type of camp offered. Please check the website for the specific camps fee structure.</h5><br>

    <h5><b>Q: Are your instructors background checked?</b></h5>
    <h5>A: Yes, all staff go through our application process, including reference verification and criminal background checks.</h5><br>

    <h5><b>Q: Are your camps full-day or half-day?</b></h5>
    <h5>A:  Our camps are half-day. We offer morning and afternoon camps. Morning camps are 9am to 12pm and afternoon are 1pm to 4pm. </h5><br>

    <h5><b>Q: How do I know which camp is right for my child?</b></h5>
    <h5>A: We offer a FREE evaluation to help you choose the right camp for your child.</h5><br>

    <h5><b>Q. Does Create In Code supply laptops?</b></h5>
    <h5>A: Yes. If you would prefer you child use our computers, please indicate on the registration form.
        There is no additional cost for the use of our laptops. If your child is using our laptop, please make sure they
        bring a USB stick to save their work.</h5><br>

    <h5><b>Q: What days and times do they run?</b></h5>
    <h5>A: Our typical summer camps run from 9am-12pm or 1pm to 4pm for one or two full weeks, Monday through Friday.</h5><br>

    <h5><b>Q: Are camp held only during the summer?</b></h5>
    <h5>A: Most of our camps are offered during the summer, but certain locations do offer camps throughout the year
        during Fall, Winter, Spring, and other breaks. So check with us to learn about availability.</h5><br>

    <h5><b>Q: What is the staff-to-student ratio?</b></h5>
    <h5>A: The camp ratio is typically no larger than 1:6 for coaches to student and sometimes smaller.</h5><br>

    <h5><b>Q: What should my child bring to camp?</b></h5>
    <h5>A: Not much is required, but it's always a good idea to have your child bring a water bottle and snacks.
        However, no peanut based foods please.</h5><br>

    <h4><b>Q: Do you have any camps just for girls or boys?</b></h4>
    <h5>A: All of our camps are co-ed.</h5><br>

    <h5><b>Q: What happens during camps?  How much learning can be expected?</b></h5>
    <h5>A: Learning to code video games and robots is fun and challenging. Our goal is offer your child a high quality
        educational experience. We combine experiential learning with computational thinking to teach our students to
        solve coding problems. This combination provides our students with deeper insights into the nearly unlimited
        possibilities of using code to solve problems. </h5><br>


</div>

{% endblock %}