{% extends 'resources/resources.html' %}
{% block title %}<title>Information Session</title> {% endblock %}

{% block body_block %}
{% load static %}

<!-- location details -->>
 <style>
    p{
    font-size:1.5em;
    width:100%;
    }
</style>

<main role="main">
    <div class="container">
      <img width="100%" height="400" src="{% static 'resources/img/infosession.jpg' %}"/>
    </div>
    <section>
        <div class="container">
            <p>
                Thank you for your interest in attending our <b>FREE summer camp information session</b>.
                Please compete the quick registration form below.  Registration is not required to attend; however,
                completing the form helps us make sure we have enough space to accommodate everyone. Looking forward
                to meeting you!
            </p>

            <p>
                Date: April 21, 2018
            </p>
            <p>
                Time: 2:00pm - 3:00pm
            </p>
            <p>
                Location: Stoney Creek Public Library
            </p>
            <p>
                Address: 920 Sunningdale Road East London, N5X 0H5
            </p>
            <div class="col">
               <div style="overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="canvasfor-googlemap" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=920+Sunningdale+Road+East+London,+Canada+N5X+0H5&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemaps-code" href="https://changing.hosting" id="enablemaps-data">here</a><style>#canvasfor-googlemap .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
            </div>
        </div>

    </section>
    <br>
    <!-- form -->
    <div style="font-size:1.5em;" class="container">
        <hr>
        <p style="text-align:center;"><a style="font-size:1.5em; " name="evaluation">Register</a></p>
        <form action="{%url 'orientation'%}" method="post">
            {% csrf_token %}
            <label>Email:</label>
            <br>
            {{ form.email }} <label>cc:</label>
            {{ form.confirm}} <br>

            <label>Name:</label>
            <br>
            {{ form.name }}<br>

            <label>Questions/Comments:</label>
            <br>
            {{ form.questions }} <br>

            <input class="btn btn-info btn-block" type="submit" value="Submit"/>
        </form>
    </div>
</main>


{% endblock %}