{% extends 'resources/resources.html' %}
{% block title %}<title>Waterloo</title> {% endblock %}
{% block body_block %}
<style>
  .text{
  width:40%;
  }
</style>

<!-- location details -->>
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <div style="max-width:100%;overflow:hidden;color:red;width:500px;height:500px;"><div id="display-googlemap" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=35+Albert+St,+Waterloo,+ON,+Canada&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embeddedmap-code" href="https://www.bootstrapskins.com/themes/wordpress" id="authorizemaps-data">buy wordpress themes</a><style>#display-googlemap img{max-height:none;max-width:none!important;background:none!important;}</style></div>
            </div>
            <div class="col">
              <h4>Waterloo Public Library - Main Library</h4>
              <h5>35 Albert St</h5>
              <h5>Waterloo, ON, N2L 5E2</h5>
              <a class="nav-link hd-fnt-sz"><i class="fas fa-phone"></i>   <b style="font-size:1em;">519-451-5344</b></a>
              <a class="nav-link hd-fnt-sz" href="/webapp/contact"><i class="fas fa-envelope"></i>   <b style="font-size:1em;">Email Us</b></a>
            </div>
      </div>
    </div>
      <br>
 <div class="container">
    <h2>Camps Offered</h2>

    <table class="table">
        <h5>Beginners</h5>
        <thead>
          <tr>
            <th>Course Description</th>
            <th>Days</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Fee</th>
            <th>Start Dates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text">Guided by our instructors, students will not only create a real functioning game from "Scratch", they'll practice the fundamental coding concepts required in any language, learn how to think logically, and have fun while doing it. <a href="{% url 'beginner' %}">learn more...</a></td>
            <td>Monday to Friday</td>
            <td>9am to 12pm</td>
            <td>1 week</td>
            <td>$200</td>
            <td>
                July 3  - July 6, 2018<br>
                July 9  - July 13, 2018<br>
                July 16 - July 20, 2018<br>
                July 23 - July 27, 2018<br>
                July 30 - Aug 3, 2018<br>
                Aug 6   - Aug 10, 2018<br>
                Aug 13  - Aug 17, 2018<br>
                Aug 20  - Aug 24, 2018<br>
            </td>

          </tr>
        </tbody>
    </table>
      <br>
      <table class="table">
        <h5>Novice</h5>
        <thead>
          <tr>
            <th>Course Description</th>
            <th>Days</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Fee</th>
            <th>Start Dates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text">In the Novice course, students will create a real functioning game using Python. The focus of this course is to teach students more complex uses of loops, conditional statements, functions, methods, and algorithms. Students will be introduced to object-oriented design, encapsulation, decomposition, and inheritance.  <a href="{% url 'novice' %}">learn more...</a></td>
            <td>Monday to Friday</td>
            <td>9am to 12pm</td>
            <td>2 weeks</td>
            <td>$480</td>
            <td>
                July 3  - July 6, 2018<br>
                July 9  - July 13, 2018<br>
                July 16 - July 20, 2018<br>
                July 23 - July 27, 2018<br>
                July 30 - Aug 3, 2018<br>
                Aug 6   - Aug 10, 2018<br>
                Aug 13  - Aug 17, 2018<br>
                Aug 20  - Aug 24, 2018<br>
            </td>
          </tr>
        </tbody>
    </table>
            <br>
  <table class="table">
    <h5>Intermediate</h5>
    <thead>
      <tr>
        <th>Course Description</th>
        <th>Days</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Fee</th>
        <th>Start Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text">
          The intermediate course builds on the concepts learned in the novice course. The Intermediate course integrates
          more advanced computational thinking to solve programming challenges. We will develop more complex games with a focus
          on game physics, basic Artificial Intelligence (Enemy AI), object oriented design, data structures, and linear
          algebra.   <a href="{% url 'intermediate' %}">learn more...</a></td>
        <td>Monday to Friday</td>
        <td>9am to 12pm</td>
        <td>2 weeks</td>
        <td>$640</td>
        <td>
          July 3  - July 6, 2018<br>
          July 9  - July 13, 2018<br>
          July 16 - July 20, 2018<br>
          July 23 - July 27, 2018<br>
          July 30 - Aug 3, 2018<br>
          Aug 6   - Aug 10, 2018<br>
          Aug 13  - Aug 17, 2018<br>
          Aug 20  - Aug 24, 2018<br>
        </td>
      </tr>
    </tbody>
  </table>
      <br>
  <table class="table">
    <h5>Raspberry Pi: Internet Of Things</h5>
    <thead>
      <tr>
        <th>Course Description</th>
        <th>Days</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Fee</th>
        <th>Start Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td class="text"> <p>Want to learn how to program a robot? Then, Raspberry Pi is a great course for you!.</p>
              <p>Our Internet Of Things course is designed to teach kids how to program and manipulate... everything! Well, everything that can be programmed...  <a href="{% url 'rasppi' %}">learn more...</a></p></td>
        <td>Monday to Friday</td>
        <td>9am to 12pm</td>
        <td>2 weeks</td>
        <td>$480</td>
        <td>
          July 3  - July 6, 2018<br>
          July 9  - July 13, 2018<br>
          July 16 - July 20, 2018<br>
          July 23 - July 27, 2018<br>
          July 30 - Aug 3, 2018<br>
          Aug 6   - Aug 10, 2018<br>
          Aug 13  - Aug 17, 2018<br>
          Aug 20  - Aug 24, 2018<br>
        </td>
      </tr>
    </tbody>
  </table>
       <br>
  <table class="table">
    <h5>Web Design: JavaScript + HTML5 + CSS3</h5>
    <thead>
      <tr>
        <th>Course Description</th>
        <th>Days</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Fee</th>
        <th>Start Dates</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text">
          <p>Why pay someone thousands of dollars to make a website for you? Students will learn to create a
             professional looking website using jJavaScript, HTML5 and CSS3.</p>
          <a href="{% url 'webdesign' %}">learn more...</a></p>
        </td>
        <td>Monday to Friday</td>
        <td>9am to 12pm</td>
        <td>2 weeks</td>
        <td>$500</td>
        <td>
          July 3  - July 6, 2018<br>
          July 9  - July 13, 2018<br>
          July 16 - July 20, 2018<br>
          July 23 - July 27, 2018<br>
          July 30 - Aug 3, 2018<br>
          Aug 6   - Aug 10, 2018<br>
          Aug 13  - Aug 17, 2018<br>
          Aug 20  - Aug 24, 2018<br>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </section>
{% endblock %}